{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 250,
  "proseWrap": "preserve"
}
