@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .w-mobile{
    width: 24rem;
  }
  .w-tablet{
    width: 28rem;
  }
  .h-custom1{
    height:34rem;
  }

  .w-45{
    width: 45%;
  }
}

@layer base{
  body{
    @apply bg-[#a86b4c]
  }
}