/* thai */
@font-face {
  font-family: 'Prompt';
  src: url(./fonts/Prompt-Regular.ttf) format('woff2');
}


@tailwind base;
@tailwind components;



@tailwind utilities;

@layer utilities {
  .w-mobile{
    width: 24rem;
  }
  .w-tablet{
    width: 28rem;
  }
  .h-custom1{
    height:34rem;
  }

  .h-custom80{
    height:85%;
  }
  .h-custom20{
    height:15%;
  }

  /* result */
  .h_result1{
    height:10%;
  }
  .h_result2{
    height:15%;
  }
  .h_result3{
    height:10%;
  }
  .h_result3{
    height:75%;
  }
  .h_result4{
    height:85%;
  }

  .w-custom1{
    width: 85%;
  }

  .w-45{
    width: 45%;
  }
}



@layer base{
  body{
    @apply bg-[#a86b4c] font-Prompt
  }
  h1,h2,h3,h4,h5,h6{
    @apply font-Prompt
  }
  p{
    @apply font-Prompt
  }
  a{
    @apply font-Prompt
  }
}